#BlocRecherche{
	margin-top: 2%;
	margin-left: 2.5%;
	background-color:#CFCFCF;
	float: left;
	width: 45%;
	height: 300px;
	margin-left: 27.5%;
	border: 1px #000 solid
}

#RechercheProfil {
	float: left;
	margin-left: 26%;
	margin-top: 0.5%;
	margin-bottom: 2%;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}

#ListeMetierProfil{
	float: left;
	margin-left: -36.8%;
	margin-top: 12%;
	font-size: 20px;
	font-weight: bold;
}

#Option1{
	float: left;
	margin-left: -42%;
	margin-top: 20%;
	font-size: 20px;
	width: 20%;
}

#TextOption1{
	float: left;
	margin-left: -28%;
	margin-top: 19%;
	font-size: 20px;
	width: 20%;
}

#NomProfil{
	float: left;
	margin-left: -41%;
	margin-top: 27%;
	font-size: 20px;
}

#TextNom{
	float: left;
	margin-left: -29.5%;
	margin-top: 27%;
	font-size: 15px;
	width: 20%;
}

#DateCreationProfil{
	float: left;
	margin-left: -52%;
	margin-top: 35%;
	font-size: 20px;
	width: 26%;
}

#DateCreationProfil{
	float: left;
	margin-left: -53%;
	margin-top: 35%;
	font-size: 20px;
	width: 29%;
}

#DateNai{
	float: left;
	margin-left: -20.5%;
	margin-top: 35%;
	font-size: 15px;
	width: 15%;
}

#ButtonValide{
	float: left;
	margin-left: -36%;
	margin-top: 43%;
	font-size: 15px;
	width: 18%;
}